@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    height: 10vh;
}

nav .logo{
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
}

nav .logo strong{
    color: #f96023;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}

nav ul li a , a{
    padding: 8px;
    color: #000;
    text-transform: capitalize;
}

.bar{
    display: none;
    font-size: 20px;
}

.links ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #f96023;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

nav .log-in ul li .sign{
    background: #f96023;
    border-radius: 10px;
    color: #fff;
}

.log-in ul li a:hover{
    color: #f96023;
}

.log-in .sign:hover{
    color: #fff;
    background: #a34722;
}

/* nav end */

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.title b{
    color: #f96023;
}

.title h2{
    font-size: 48px;
    text-transform: uppercase;
}
/* content start */

.container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    text-transform: capitalize;
    width: 50%;
}

.container .content .description p{
    font-size: 20px ;
}

.container .content .book{
    display: flex;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, .4);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.container .content .book .information {
    display: flex;
    flex-direction: column;
    width: 200px;
    width: 20vw;
}
#date , #map{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.book{
    width: 100%;
}

.book i{
    font-size: 18px;
    color: #f96023;
}

.book button{
    background: #f96023;
    padding: 0 20px;
    border-radius: 15px ;
    color: #fff;
    width: 20%;
    height: 8vh;
    cursor: pointer;
}

.book button:hover{
    background: #a34722;
}

/* content end */

/* background start */

.background{
    width: 40%;
    height: 85vh;
    background: url(header-bg.webp) center center/cover no-repeat;
    border-radius: 50%;
    position: relative;
}

.background .girl{
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

/* background end */

@media screen and (max-width: 768px) {
    nav{
        background: #f96023;
        position: relative;
        padding: 10px 20px;
    }
    .logo h1 strong{
        color: #000;
    }
    .links ul{
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 5%;
        z-index: 10;
        display: none;
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .bar{
        display: block;
        cursor: pointer;
    }
    .log-in{
        display: none;
    }
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        text-align: center;
    }
    .background{
        width: 80vw;
        height: 65vh;
        margin-top: 20px;
    }
    .background .girl{
        width: 65vw;
    }
    .title{
        margin: 0 auto;
    }
    .container .title h2{
        font-size: 36px;
        width: 80vw;
    }
    .container .content{
        width: 100%;
    }
    .container .content .book{
        justify-content: space-between;
        margin: auto;
    }

    .information p{
        font-size: 15px;
        padding: 5px;
    }
    
}